*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    user-select: none;
    font-family: 'Open Sans', sans-serif;
}
.container
{
    display: flex;
    flex-direction: column;
    width: 50%;
    border: 1px solid crimson;
    height: 100vh;
    align-items: center;
    position: absolute;
    left: 35pc;
    overflow: hidden;
    background: linear-gradient(30deg, skyblue, white);
    box-shadow: 0 10px 20px crimson;    
}
h2{
    background-color: crimson;
    color: white;
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 30px;
}
form{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 5px;
    padding: 10px;
}
input{
    width: 70%;
    padding: 5px;
    outline: none;
}
button{
    width: 5pc;
    padding: 5px;
    margin: 0px 3px;
    cursor: pointer;
    outline: none;
    border: 1px solid crimson;
    color: crimson;
}
button:hover
{
    background-color: greenyellow;
    outline: none;
    color: white;
    border: none;
}
.my-todo
{
    display: flex;
    align-items: center;
    width: 80%;
    padding: 20px 20px;
    overflow: hidden;
}
img{
    width: 22px;
    height:22px;
    margin-right: 5px;
    border-radius: 30px;
    border: 1px solid black;
    padding: 3px 3px;
}
img:hover, img::after
{
    background-color: crimson;
    cursor: pointer;
}
p{
    margin: 2px;
    font-size: 20px;
    text-transform: capitalize;
}

/* ////////////////////////////////////responsive////////////////////////// */

@media (max-width:1750px){
    .container{
        left: 27pc;
    }
}
@media (max-width:1450px){
    .container{
        left: 9pc;
        width: 80%;
        
    }
}
@media (max-width:1200px){
    .container{
        left: 7pc;
        width: 80%;
    }
}
@media (max-width:950px){
    .container{
        left: 3pc;
        width: 90%;
    }
}
@media (max-width:700px){
    .container{
        left: 2pc;
        width: 90%;
    }
    h2{
        font-size: 40px;
    }
}
@media (max-width:500px){
    .container{
        left: 1.2pc;
        width: 90%;
    }
    h2{
        font-size: 26px;
    }
}